.col-md-8{
    background-color: lightgray;
    text-align: center;
    height: 100vh;
}
input{                
    padding: 10px 15px;
    margin-top: 10%;               
    width: 80%;
    text-align: center;                
}         

button{
    padding: 5px 10px;
    margin: 30px 60px;
    height: 40px;
    width: 80px;
}